<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--[if lt IE 7 ]>
  <html class="oldie ie6">
<![endif]--> 
<!--[if IE 7 ]>
  <html class="oldie ie7">
  <![endif]--> 
<!--[if IE 8 ]>
  <html class="oldie ie8">
  <![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!-->
  <html>
<!--<![endif]--> 
<head> 
<title>Gift of Blood - Save a life. Make a difference. Change the world.</title> 
</head> 
<body> 
	<%= t(hello_world) %>

</body> 
</html> 
